<!DOCTYPE html>
<html>
<head>
  <title>Trip <%=@trip.id%></title>
</head>
<body>
<header>
  <h1>Ada RideShare</h1>
  <nav>
    <ul>
      <li>Home</li>
      <%= link_to content_tag(:li,"Riders"), passengers_path, method: :get %>
      <%= link_to content_tag(:li, "Drivers"), drivers_path, method: :get %>
    </ul>
  </nav>
</header>
<main>
  <nav>
    <ul>
      <%= link_to content_tag(:li, "Edit Info"), edit_trip_path(@trip.id), method: :get %>
      <%if params[:driver_id] %>
        <%= link_to content_tag(:li, "Delete"), driver_trip_path(@trip.id), method: :delete, data: {confirm: "Are you sure you want to delete this trip?"}%>
      <%elsif params[:passenger_id] %>
        <%= link_to content_tag(:li, "Delete"), passenger_trip_path(@trip.id), method: :delete, data: {confirm: "Are you sure you want to delete this trip?"}%>
      <%else %>
        <%= link_to content_tag(:li, "Delete"), trip_path(@trip.id), method: :delete, data: {confirm: "Are you sure you want to delete this trip?"}%>
      <%end %>
    </ul>
  </nav>
  <h2>Trip <%=@trip.id%></h2>
  <table class = "trips">
    <tr>
      <th>Trip ID</th>
      <th>Date</th>
      <th>Driver</th>
      <th>Passenger</th>
      <th>Cost</th>
      <th>Rating</th>
      <th>View Trip</th>
    </tr>
    <tr>
      <td><%=@trip.id%></td>
      <td><%=@trip.date%></td>
      <td><%=@trip.driver.name%> <%= link_to content_tag(:p, "View"), driver_path(@trip.driver.id), method: :get %></td>
      <td><%=@trip.passenger.name%> <%= link_to content_tag(:p, "View"), passenger_path(@trip.passenger.id), method: :get %></td>
      <td><%= '$%.2f' % (@trip.cost/100)%></td>
      <td><%if @trip.rating.nil?%>
          Pending <p>Rate</p>
        <% else%>
          <%=@trip.rating%>
        <% end%></td>
      <td><%= link_to content_tag(:p, "View"), trip_path(@trip.id), method: :get %></td>
    </tr>
  </table>

</main>
</body>
</html>