<!DOCTYPE html>
<html>
<head>
  <title><%=@passenger.name%></title>
</head>
<body>
<%= render partial: "drivers/navigation"%>
<main>
  <h2><b>Passenger:</b> <%=@passenger.name%></h2>
  <h3><b>Phone:</b> <%=@passenger.phone_num%></h3>
  <nav>
    <ul>
      <%= link_to content_tag(:li, "Edit Info"), edit_passenger_path(@passenger.id), method: :get %>
      <%= link_to content_tag(:li, "Delete"), passenger_path(@passenger.id), method: :delete, data: {confirm: "Are you sure you want to delete this passenger info?"}%>
    </ul>
  </nav>
  <h3>Stats</h3>
  <ul class = "passenger-trips-stats">
    <li><b>Total spent on trips:</b> <%="$%.2f" % @passenger.total_spent%></li>
  </ul>
  <br/>
  <%= link_to content_tag(:h3, "Request Trip"), passenger_trips_path(@passenger.id), method: :post %>
  <br/>
  <h3>Trips</h3>
  <table class = "trips">
    <tr>
      <th>Trip ID</th>
      <th>Date</th>
      <th>Driver</th>
      <th>Passenger</th>
      <th>Cost</th>
      <th>Rating</th>
      <th>Options</th>
    </tr>
    <% @trips.each do |trip| %>
    <tr>
      <td><%=trip.id%></td>
      <td><%=trip.date%></td>
      <td><%=trip.driver.name%> <%= link_to content_tag(:p, "View"), driver_path(trip.driver.id), method: :get %></td>
      <td><%=trip.passenger.name%> <%= link_to content_tag(:p, "View"), passenger_path(trip.passenger.id), method: :get %></td>
      <td><%='$%.2f' % (trip.cost)%></td>
      <td><%if trip.rating.nil?%>
          Pending <%= link_to content_tag(:p, "Rate"), rate_trip_path(id: trip.id), method: :get %>
        <% else%>
          <%=trip.rating%>
        <% end%></td>
      <td><%= link_to content_tag(:p, "View"),
                      passenger_trip_path(passenger_id: @passenger.id ,id: trip.id), method: :get %>
          <%= link_to content_tag(:p, "Delete"),
                      passenger_trip_path(passenger_id: @passenger.id, id: trip.id), method: :delete,
                      data: {confirm: "Are you sure you want to delete this trip?"}%></td>
    </tr>
    <% end %>
  </table>
</main>
</body>
</html>