<!DOCTYPE html>
<html>
<head>
  <title><%=@driver.name%></title>
</head>
<body>
<%= render partial: "navigation"%>
<main>
  <h2><b>Driver:</b> <%=@driver.name%></h2>
  <h3><b>Vin:</b> <%=@driver.vin%></h3>
  <h3><b>Status:</b>
    <%if @driver.available %>
      Online  <%= link_to content_tag(:mark, "Go Offline"), toggle_online_driver_path(@driver.id), method: :patch %>
    <%else %>
      Offline  <%= link_to content_tag(:mark, "Go Online"), toggle_online_driver_path(@driver.id), method: :patch %>
    <%end%>
  </h3>
  <h3><b>Stats</b></h3>
  <ul class = "driver-trips-stats">
    <li><b>Total earnings:</b> <%="$%.2f" % @driver.total_earnings%></li>
    <li><b>Average rating:</b> <%="$%.2f" % @driver.average_rating%></li>
  </ul>
  <nav>
    <ul>
      <%= link_to content_tag(:li, "Edit Info"), edit_driver_path(@driver.id), method: :get %>
      <%= link_to content_tag(:li, "Delete"), driver_path(@driver.id), method: :delete, data: {confirm: "Are you sure you want to delete this driver info?"}%>
    </ul>
  </nav>

  <h3>Trips</h3>
  <table class = "trips">
    <tr>
      <th>Trip ID</th>
      <th>Date</th>
      <th>Driver</th>
      <th>Passenger</th>
      <th>Cost</th>
      <th>Rating</th>
      <th>View Trip</th>
    </tr>
    <% @trips.each do |trip| %>
      <tr>
        <td><%=trip.id%></td>
        <td><%=trip.date%></td>
        <td><%=trip.driver.name%> <%= link_to content_tag(:p, "View"), driver_path(trip.driver.id), method: :get %></td>
        <td><%=trip.passenger.name%> <%= link_to content_tag(:p, "View"), passenger_path(trip.passenger.id), method: :get %></td>
        <td><%='$%.2f' % (trip.cost)%></td>
        <td><%if trip.rating.nil?%>
            Pending <%= link_to content_tag(:p, "Rate"), rate_trip_path(id: trip.id), method: :get %>
            <% else%>
            <%=trip.rating%>
            <% end%></td>
        <td><%= link_to content_tag(:p, "View"),
                        driver_trip_path(driver_id: @driver.id ,id: trip.id), method: :get %>
          <%= link_to content_tag(:p, "Delete"),
                      driver_trip_path(driver_id: @driver.id, id: trip.id), method: :delete,
                      data: {confirm: "Are you sure you want to delete this trip?"}%></td>
      </tr>
    <% end %>
  </table>
</main>
</body>
</html>